<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding number</title>
</head>
<body>
<form action="adding-number" method="get">
  input your number <input type="text" name="num1"><br>
  input your number <input type="text" name="num2"><br>

    <fieldset>
        <legend>Choose your option</legend>
        <input type="radio" name="option" value="add-number"> Add number<br>
        <input type="radio" name="option" value="multiply"> Multiply(RequestDispatcher)<br>
        <input type="radio" name="option" value="square"> Square(Redirect Servlet)<br>
    </fieldset>
  <input type="submit">
</form>
</body>
</html>